<ion-header>
  <ion-navbar>
    <ion-title>
      Login
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <h2>Authentication</h2>
    <p *ngIf="serverError.length!=0" class="validation-message">
      {{serverError}}
    </p>
  
    <p *ngIf="formIsNotValid" class="validation-message">
      {{validationMessages.form}}
    </p>
  
    <form [formGroup]="form">
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>
      <p *ngIf="form.get('email').hasError('required') && form.get('email').touched" class="validation-message">
         {{validationMessages.email}}
      </p>
  
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>      
      </ion-item>
      <p *ngIf="form.get('password').hasError('required') && form.get('password').touched" class="validation-message">
        {{validationMessages.password}}
      </p>
      
      <br><br>
      <button ion-button (click)="authenticate()">Submit</button>
    </form>
    <p><button ion-button (click)="googleLogin()">Login With Google</button></p>
    <p><button ion-button (click)="facebookLogin()">Login With Facebook</button></p>
    <p><button ion-button (click)="downloadPdf()">Download PDF</button></p>

    <div *ngIf="isLoggedInWithGoogle">
      <p>{{user.email}}</p>
    </div>

    <div *ngIf="isLoggedInWithFacebook">
      <p>{{facebookToken}}</p>
    </div>
  </ion-content>
